# folders (in alphabetical order)
.gradle/
.idea/
.nb-gradle/
.settings/
bin/
build/
gen/
generated/
gradle/
repos/
target/
temp/

# files (in alphabetical order)
*.unused
.classpath
.DS_Store
.project
gradle-app.setting
local.properties
testOut.xml
Thumbs.db
vzome-core.iml
Procfile
