# folders (in alphabetical order)
node_modules
.gradle/
.idea/
.nb-gradle/
.settings/
bin/
build/
eclipse-workspace*/
gen/
generated/
jre/
nbproject/
node_modules/
repos/
Shapes/
target/
temp/

# files (in alphabetical order)
*.iml
*.unused
.classpath
.DS_Store
.project
gradle-app.setting
local.properties
logging.properties
run-vzome.bat
run-vzome.sh
testOut.xml
Thumbs.db
_eclipse_workspace
vZome.code-workspace
