// folders
.gradle/
.idea/
.nb-gradle/
.settings/
bin/
build/
gradle/
repos/
target/
temp/

// files
*.unused
.classpath
.DS_Store
.project
gradle-app.setting
run-vzome.bat
run-vzome.sh
Thumbs.db
vzome-desktop.iml
