---
layout: post
---

    <!-- Enable the vzome-viewer custom element -->
    <script type="module" src="https://www.vzome.com/modules/vzome-viewer.js"></script>

    <!-- This trick came courtesy of David Hall (@david-hall) -->
	<!-- Enable the KaTeX automatic renderer from https://katex.org/docs/autorender.html -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" 
		integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" 
		crossorigin="anonymous">
	<script type="module">
		import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.mjs";
		renderMathInElement(document.body);
	</script>

{{ content }}
