

html,
body {
  margin: 0; /* This is essential to avoid a small white border around the whole main div. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.title {
  display: flex;
}

h1 {
  margin: auto;
}

/* // =============================================================================
// Styling for model instructions
// ============================================================================= */

.zometool-model {
  max-width: 1000px;
  min-height: 75dvh;
  margin: auto;

  font-size: large;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1.2fr;
  grid-template-rows: 3fr 1fr 4fr 6fr;
  grid-template-areas:
    "viewer description"
    "viewer difficulty"
    "viewer products"
    "viewer parts";
}

.zometool-model-description {
  grid-area: description;
}

.zometool-model-difficulty {
  grid-area: difficulty;
}

zometool-instructions {
  grid-area: viewer;
}

zometool-parts-required {
  grid-area: parts;
}

zometool-covering-products {
  grid-area: products;
}

.zometool-parts-container {
  max-height: 28dvh;
  overflow: auto;
}

@media ( max-width: 800px ) {
  .zometool-model {
    padding-inline: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 80dvh 40px 10px 40px 40px;
    grid-template-areas:
      "viewer"
      "description"
      "difficulty"
      "products"
      "parts";
    }
  .zometool-parts-container {
    overflow: visible;
  }
}